<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.nkola.potholehunter.android.integrationtests"
          android:versionCode="1"
          android:versionName="0.0.1">

    <uses-sdk android:minSdkVersion="16" android:targetSdkVersion="19"/>

    <application
            android:icon="@android:drawable/ic_input_add"
            android:label="IntegrationTests">
        <uses-library android:name="android.test.runner"/>
    </application>

    <instrumentation
            android:name="com.google.android.apps.common.testing.testrunner.GoogleInstrumentationTestRunner"
            android:targetPackage="org.nkola.potholehunter.android"/>

</manifest>

